.table tr {
  vertical-align: middle;
}

.table th {
  position: sticky;
  top: 0px; /* 0px if you don't have a navbar, but something is required */
  background: fade-out($color: #f4f4f4, $amount: 0.25);
}

.table-wrapper {
  overflow: auto;
  height: 70vh;
}
