<form class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Word</label>
    <input
      type="text"
      name="word"
      [(ngModel)]="word"
      id="word"
      placeholder="Add word"
    />
  </div>
  <div class="form-control">
    <label for="meaning">Meaning</label>
    <input
      type="text"
      name="meaning"
      [(ngModel)]="meaning"
      id="meaning"
      placeholder="Add Meaning"
    />
  </div>
  <input type="submit" value="Save Pair" class="btn btn-block" />
</form>
