<!-- <form class="add-form" (ngSubmit)="onSubmit()"> -->
<form (ngSubmit)="onSubmit()">
  <div class="row g-3">
    <div class="col-md">
      <div class="form-floating">
        <input
          type="text"
          name="word"
          [(ngModel)]="word"
          id="word"
          placeholder="Add word"
          class="form-control"
        />
        <label for="word">Word</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input
        class="form-control"
          type="text"
          name="meaning"
          [(ngModel)]="meaning"
          id="meaning"
          placeholder="Add Meaning"
        />
        <label for="meaning">Meaning</label>
      </div>
    </div>
    <div class="col-3">
      <!-- <input type="submit" value="Save Pair" class="btn btn-block" /> -->
      <button type="submit" class="btn btn-primary form-control">Save Pair</button>
      <!-- <app-button
      color="pink"
      text="Save Pair"
      (btnClick)="onSubmit()"
      ></app-button> -->
    </div>



</div>

</form>
