<app-header></app-header>
<app-game-create *ngIf="appState.get('GameCreation')" (gameCreated)="handleGameCreate($event)"></app-game-create>
<app-register *ngIf="appState.get('Registeration')" (playerRegistered)="handleRegisterPlayer()"></app-register>
<app-game-play *ngIf="appState.get('Playing')" [_game]="activeGame"
  (gamePlayed)="handlePlayGame($event)"></app-game-play>
<app-game-list *ngIf="appState.get('GameList')" [_games]="getGamesList()" (gamePurchesed)="handlePurchase($event)"
  (gameRated)="handleRateGame($event)"></app-game-list>
