<div class="div-main container"> <!-- Dive Koli -->
  <div class="div-top row container">
    <app-header></app-header>
  </div>

  <div class="div-bottom row container">
    <div *ngIf="!isRegistered">
      <button [ngStyle]="{ 'background-color': 'blue' }" class="btn" (click)="handleRegister()">
        Join the Game
      </button>
    </div>
    <div *ngIf="isRegistered">
      <div class="div-left col-4 container">
        <app-show-games></app-show-games>
      </div>
      <div class="div-right col-8 container">
        <div>
          <!-- <app-game-create *ngIf="showAddTask"></app-game-create> -->
          <app-game *ngIf="showAddTask"></app-game>
          <!-- <app-pairs *ngIf="showAddTask"></app-pairs> -->
          <!-- <p>{{showAddTask}}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>
