<div class="w-75 text-center mx-auto mh-100">
  <form>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Title" [(ngModel)]="title" name="title">
      <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="Thumbnail" [(ngModel)]="thumbnail"
        name="thumbnail">
      <label for="floatingInput">Thumbnail</label>
    </div>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Description" id="floatingTextarea2" aria-describedby="DescriptionHelp"
        style="height: 100px; max-height: 200px; min-height: 100px;" [(ngModel)]="description"
        name="description"></textarea>
      <label for="floatingTextarea2">Description</label>
      <!-- <div id="DescriptionHelp" class="form-text" style="margin-left: 0; padding-left: 0;">
        Enter a short description for your game
      </div> -->
    </div>
  </form>

  <button [ngStyle]="{ 'background-color': 'Green' }" class="btn" (click)="createGame()">
    Create Game
  </button>
  <!-- <p *ngFor="let word of words">{{word}}</p> -->
</div>
